@model IEnumerable<PLANR.Models.Objective>

@{
    ViewData["Title"] = "Index";
}

<h1>Objectives</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Metric
            </th>
            <th>
                Due Date
            </th>
            @*<th>
                Goal
            </th>*@

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ObjectiveName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetricName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObjectiveDueDate)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Goal.GoalName)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Objectiveid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Objectiveid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Objectiveid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Create">
        <button class="btn btn-outline-secondary">Create New</button>
    </a>
</p>