@model IEnumerable<PLANR.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Categories</h1>


<p>@User.Identity.Name</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Category Name
            </th>
            <th>
                Category Abbreviation
            </th>
            <th>
                Actions
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryAbbreviation)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.User.Password)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Categoryid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Categoryid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Categoryid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Create">
        <button class="btn btn-outline-secondary">Create New</button>
    </a>
</p>
