@model IEnumerable<PLANR.Models.Task>

@{
    ViewData["Title"] = "All";
}

<h1>All Tasks</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskDueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Objective)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskDueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Objective.MetricName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Taskid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Taskid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Taskid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
